<footer id="footer" class="root-sec white root-sec footer-wrap">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="clearfix footer-inner">
              <ul class="left social-icons">
                <li><a href="http://weibo.com/p/1005051657158054" class="tooltips tooltipped weibo" data-position="top" data-delay="50" data-tooltip="Weibo" target="_blank"><i class="fa fa-weibo"></i></a>
                </li>
                <li><a href="https://www.facebook.com/yiping.he" class="tooltips tooltipped facebook" data-position="top" data-delay="50" data-tooltip="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                </li>
                <li><a href="https://www.linkedin.com/pub/yiping-he/24/2a9/674" class="tooltips tooltipped linkedin" data-position="top" data-delay="50" data-tooltip="Linkdin" target="_blank"><i class="fa fa-linkedin"></i></a>
                </li>
              </ul> <!-- ./social icons end -->
              <div class="right copyright">
                <p>Powered by <a href="https://www.djangoproject.com/">Django</a>, <a href="http://www.sinacloud.com/">SAE</a>. Site source provided by <a href="https://github.com/KdJohar/myblog">an India engineer</a>.</p>
                <p>He Yiping &copy; All Rights Reserved</p>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- ./container end-->
    </footer>