<div class="col-sm-4 single-card-box wow fadeInUpSmall" data-wow-delay=".2s" data-wow-duration=".7s">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <h2 class="left-align card-title-top">{{org.start_date}} - {{org.end_date}}</h2>
        <div class="card-img-wrap">
          <a href="{{org.url}}" target="_blank"><img class="activator" src="{{org.image}}" alt=""></a>
        </div>
      </div>
      <div class="card-content">
        <span class="card-title activator brand-text"> {{org.role}} </span>
        <p>{{org.name}}</p>
      </div>
    </div>
</div> <!-- single education -->