<div class="col-sm-4 single-card-box wow fadeInUpSmall" data-wow-delay=".2s" data-wow-duration=".7s">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <h2 class="left-align card-title-top">{{proj.start_date}} - {{proj.end_date}}</h2>
        <div class="card-img-wrap">
          <a href="{{proj.url}}"><img class="activator" src="{{proj.image}}" alt=""></a>
        </div>
      </div>
      <div class="card-content">
        <span class="card-title activator brand-text"> {{proj.name}} </span>
        <p>{{proj.desc}}</p>
      </div>
    </div>
</div> <!-- single education -->