<div class="col-sm-4">
    <div class="primary-sidebar">

    <!-- Place this tag in your head or just before your close body tag. -->
    <!--<script src="https://apis.google.com/js/platform.js" async defer></script>-->
	<!--<script src="{{ STATIC_URL }}assets/libs/apis.google.com/js/platform.js" async defer></script>-->

    <!-- Place this tag where you want the widget to render. -->
    <div class="g-person" data-width="300" data-href="//plus.google.com/u/0/111794475648032719666" data-rel="author"></div>
    
    <!--<a class="twitter-timeline" href="https://twitter.com/rabbit8ge" data-widget-id="575939129126490112">Tweets by @rabbit8ge</a>-->
    
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    </div>
</div>